* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none; }

html {
  min-height: 100vh;
  scroll-behavior: smooth; }

.container-nav {
  min-height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1030; }

.container {
  max-width: 1140px;
  min-height: 350px;
  margin: 0px auto; }

.container-space {
  background-image: url("../imagens/space.png");
  min-height: 30px; }

.container-footer {
  min-height: 60px;
  background-color: black; }

.container-menu {
  max-width: 1440px;
  min-height: 500px;
  margin: 0px auto; }

@media (max-width: 700px) {
  .container-space {
    min-height: 20px; } }
.row {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.row-nav {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: nowrap; }

.row-menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.row-menu-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }

.row-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center; }

.row-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }

.row-footer {
  display: flex; }

.coll-5 {
  width: 5%; }

.coll-10 {
  width: 10%; }

.coll-50 {
  width: 50%; }

.coll-80 {
  width: 80%; }

.coll-95 {
  width: 100%; }

.coll-button {
  height: 20%; }

.coll-menu {
  width: 90%;
  height: 40%; }

.coll-30 {
  height: 30%; }

.coll-70 {
  height: 70%; }

@media (max-width: 700px) {
  .coll-50 {
    width: 90%; } }
.banner {
  background-image: url("../../imagens/banner-revoada.png");
  min-height: 600px; }

.banner-menu {
  background-image: url("../../imagens/menu.png"); }

@media (max-width: 700px) {
  .banner {
    min-height: 350px; } }
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column; }

.parallax-menu {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }

.nav-text {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center; }
  .nav-text:hover {
    border: 3px solid #cda67d;
    border-radius: 10px; }

.title {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 6px #181717;
  text-align: center; }

.sub-title {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 6px #181717; }

.title-section {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 2.5rem;
  text-align: justify; }

.text {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1rem;
  text-align: justify; }

.title-contact {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center; }

.text-contact {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1rem;
  text-align: center; }

.title-menu {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  top: -25px; }

.text-menu {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 15px 5px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: translateY(-150px); }

@media (max-width: 700px) {
  .nav-text {
    font-size: 1.2rem; }

  .title {
    font-size: 3.5rem; }

  .sub-title {
    font-size: 1.5rem; }

  .title-section {
    font-size: 2rem; }

  .text {
    font-size: 14px; }

  .title-menu {
    font-size: 14px;
    top: -15px; }

  .text-menu {
    font-size: 14px; }

  .title-contact {
    font-size: 1rem; }

  .text-contact {
    font-size: 0.9rem; } }
.mt-10 {
  margin-top: 10px; }

.mb-title-section {
  margin-bottom: 20px; }

.mb-paragraph {
  margin-bottom: 20px; }

.py-30 {
  padding: 30px 0px; }

.py-50 {
  padding: 50px 0px; }

.center {
  margin: auto; }

.py-5 {
  padding: 5px 0px; }

.py-10 {
  padding: 10px 0px; }

.px-10 {
  padding: 5px 10px; }

.mx-20 {
  margin: 0px 20px; }

.my-20 {
  margin: 20px auto; }

@media (max-width: 700px) {
  .py-50 {
    padding: 30px 0px; }

  .mx-20 {
    margin: 0px 2px; } }
.card-logo {
  width: 39%;
  height: auto;
  margin: 0px auto; }

.card {
  width: 70%;
  height: auto; }

.card-menu-img {
  width: 90%;
  height: auto;
  position: relative;
  left: 5%;
  right: 5%;
  top: -25px; }

.card-menu {
  cursor: pointer;
  background-color: white;
  width: 270px;
  height: 160px;
  border-radius: 5px;
  margin: 30px 15px;
  opacity: 95%;
  box-shadow: 7px 7px 13px 0px #323232;
  transition: 0.2s ease-in-out; }
  .card-menu:hover {
    width: 240px;
    height: 260px; }
    .card-menu:hover .text-menu {
      opacity: 1;
      transition: 0.5s;
      transform: translateY(-30px); }

.lanches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out; }

.porcoes {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.sobremesas {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

@media (max-width: 700px) {
  .card-logo {
    width: 150%;
    height: auto;
    margin: 0px 10px; }

  .card-menu {
    width: 115px;
    height: 80px;
    border-radius: 5px;
    margin: 20px 10px; }
    .card-menu:hover {
      width: 180px;
      height: 220px; }
      .card-menu:hover .title-menu {
        font-size: 1.1rem; }

  .iframe {
    height: 200px; } }
.img-responsive-about {
  width: 100%;
  height: auto;
  align-items: center;
  border-radius: 5px; }

.img-responsive {
  width: 100%;
  height: auto;
  align-items: center;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px #323232; }

.btn-menu {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 15px;
  margin: auto 25px;
  background-color: #a7703c;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  .btn-menu:hover {
    background-color: #783e00;
    box-shadow: 0px 0px 13px 5px #af6c4b; }

.btn-floating {
  width: 13%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer; }

@media (max-width: 700px) {
  .btn-menu {
    font-size: 1rem;
    margin: auto 15px;
    padding: 5px 10px; }

  .btn-floating {
    width: 35%;
    right: 2px;
    bottom: 5px; } }
.icon-social a {
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
  padding: 0px 15px; }
  .icon-social a:hover {
    color: #9b754c; }

/*# sourceMappingURL=global.css.map */
