.btn-mobile {
  display: none;
}

.btn-menu {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 15px;
  margin: auto 25px;
  background-color: #a7703c;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #783e00;
    box-shadow: 0px 0px 13px 5px #af6c4b;
  }
}
.btn-floating {
  width: 11%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;

  animation: pulsar;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  @keyframes pulsar {
    0% {
      width: 11%;
    }
    100% {
      width: 13%;
    }
  }
}

@media (max-width: 700px) {
  .btn-mobile {
    display: block;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 60px;
    height: 60px;

    i {
      cursor: pointer;
      color: #f7f7f7;
      font-size: 3rem;
    }
    &:hover {
      border: 2px solid #f7f7f7;
    }
  }
  .btn-menu {
    font-size: 1rem;
    margin: auto 10px;
    padding: 10px 15px;
  }
  .btn-floating {
    width: 35%;
    right: 2px;
    bottom: 5px;
    animation: pulsarmobile;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    @keyframes pulsarmobile {
      0% {
        width: 33%;
      }
      100% {
        width: 37%;
      }
    }
  }
}
