.card-logo {
    width: 39%;
    height: auto;
    margin: 0px auto;
}
.card {
    width: 60%;
    height: auto;
}

.card-menu{
    cursor: pointer;
    background-color: white;
    width: 180px;
    height: 280px;
    border-radius: 10px;
    margin: 15px;
    opacity: 95%;
    box-shadow: 7px 7px 13px 0px rgb(50, 50, 50);
}
.card-menu-img{
    width: 100%;
    height: auto;

}

