@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

header {
  z-index: 1000;
  width: 100%;
}

section,
main,
footer {
  z-index: 100;
}

section {
  width: 100%;
}

.container-nav {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: transparent;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-nav.background-black {
  background-color: black;
}

.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  min-height: 350px;
  margin: 0px auto;
}

.container-footer {
  min-height: 60px;
}

.container-footer .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-menu {
  max-width: 1440px;
  min-height: 500px;
  margin: 0px auto;
}

.container-carousel {
  width: 100%;
  height: 100vh;
}

.container-carousel .wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-banner {
  width: 100%;
  height: 250px;
}

.container-banner::after {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #062c2c;
}

footer {
  width: 100%;
  background-color: black;
}

@media (max-width: 700px) {
  .container-space {
    min-height: 20px;
  }
  .container-menu {
    min-height: 100vh;
  }
}

.none {
  display: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: normal;
      align-content: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-nav {
  max-width: 1440px;
  width: calc(100% - 40px);
  height: 70px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: normal;
      align-content: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menumobile {
  display: none;
}

@media (max-width: 900px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .row-nav-desktop {
    display: none;
  }
  #menumobile {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 0;
    background-color: black;
    position: absolute;
    top: 70px;
    padding: 30px 0;
    left: 5%;
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 0px 0px 20px 20px;
  }
  #menumobile li {
    margin: 25px auto;
    text-align: center;
  }
  #menumobile li i {
    cursor: pointer;
    color: #f7f7f7;
    font-size: 1.5rem;
    margin: 0px 10px;
  }
  #menumobile.row-nav-mobile {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    height: 290px;
  }
}

@-webkit-keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.coll-40 {
  width: 40%;
}

.coll-50 {
  width: 50%;
}

.coll-60 {
  width: 60%;
}

.coll-30 {
  width: 30%;
}

@media (max-width: 900px) {
  .coll-50 {
    width: 100%;
  }
  .coll-40 {
    width: 100%;
  }
}

.banner {
  background-image: url("../../imagens/banner-1.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.banner-contato {
  background-image: url("../../imagens/banner-4.png");
  position: relative;
}

@media (max-width: 700px) {
  .banner {
    min-height: 350px;
  }
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parallax-menu {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 3px 5px;
  margin: 0px 10px;
  position: relative;
}

.nav-text::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #cda67d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.nav-text:hover::before {
  left: 0;
  width: 105%;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 6px #181717;
  text-align: center;
  opacity: 0;
}

.sub-title {
  opacity: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 20px;
  text-align: center;
  text-shadow: 2px 2px 6px #181717;
}

.title-sobre {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 2.5rem;
  text-align: start;
  font-weight: 400;
}

.title-section {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 5rem;
  text-align: justify;
  font-weight: 400;
}

.text {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1.3rem;
  text-align: justify;
  font-style: italic;
  font-weight: 400;
}

.title-contact {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.text-contact {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.title-menu {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  top: -25px;
}

.text-menu {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0px;
  opacity: 0;
}

.opacity {
  -webkit-animation: opacitytitle;
          animation: opacitytitle;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@-webkit-keyframes opacitytitle {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes opacitytitle {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 700px) {
  .nav-text {
    font-size: 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .sub-title {
    font-size: 1.5rem;
  }
  .title-section {
    font-size: 2rem;
  }
  .text {
    font-size: 14px;
  }
  .title-menu {
    font-size: 14px;
    top: -15px;
  }
  .text-menu {
    font-size: 15px;
  }
  .title-contact {
    font-size: 1rem;
  }
  .text-contact {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

.mb-title-section {
  margin-bottom: 20px;
}

.mb-paragraph {
  margin-bottom: 20px;
}

.py-30 {
  padding: 30px 0px;
}

.py-60 {
  padding: 60px 0px;
}

.py-50 {
  padding: 50px 0px;
}

.center {
  margin: auto;
}

.py-5 {
  padding: 5px 0px;
}

.py-10 {
  padding: 10px 0px;
}

.px-10 {
  padding: 5px 10px;
}

@media (max-width: 700px) {
  .mb-title-section {
    margin-bottom: 10px;
  }
  .py-50 {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.card-logo {
  max-width: 50px;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

.card {
  width: 75%;
  height: auto;
}

.card-menu-img {
  width: 70%;
  height: auto;
  position: relative;
  left: 15%;
  right: 15%;
  top: -25px;
}

.card-menu {
  cursor: pointer;
  background-color: white;
  width: 270px;
  height: 160px;
  border-radius: 5px;
  margin: 30px 15px;
  opacity: 95%;
  -webkit-box-shadow: 7px 7px 13px 0px #323232;
          box-shadow: 7px 7px 13px 0px #323232;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card-menu:hover {
  width: 240px;
  height: 260px;
}

.card-menu:hover .text-menu {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  top: -25px;
}

.iframe {
  border-radius: 10px;
}

@media (max-width: 700px) {
  .card-menu {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    margin: 20px 10px;
  }
  .card-menu:hover {
    width: 150px;
    min-height: 200px;
  }
  .card-menu:hover .title-menu {
    font-size: 1rem;
  }
  .card-menu:hover .card-menu-img {
    width: 90%;
    left: 5%;
    right: 5%;
  }
  .iframe {
    height: 200px;
    border-radius: 10px;
  }
}

.img-responsive-about {
  width: 100%;
  height: auto;
}

.img-responsive {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 13px 0px #323232;
          box-shadow: 7px 7px 13px 0px #323232;
}

.figure-sobre {
  max-width: 400px;
  width: 50%;
}

@media (max-width: 700px) {
  .figure-sobre {
    width: 80%;
  }
}

.btn-mobile {
  display: none;
}

.btn-menu {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 15px;
  margin: auto 25px;
  background-color: #a7703c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-menu:hover {
  background-color: #783e00;
  -webkit-box-shadow: 0px 0px 13px 5px #af6c4b;
          box-shadow: 0px 0px 13px 5px #af6c4b;
}

.btn-floating {
  width: 11%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 900;
  -webkit-animation: pulsar;
          animation: pulsar;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes pulsar {
  0% {
    width: 11%;
  }
  100% {
    width: 13%;
  }
}

@keyframes pulsar {
  0% {
    width: 11%;
  }
  100% {
    width: 13%;
  }
}

@media (max-width: 600px) {
  .btn-mobile {
    display: block;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    width: 50px;
    height: 50px;
  }
  .btn-mobile i {
    cursor: pointer;
    color: #f7f7f7;
    font-size: 2.2rem;
  }
  .btn-mobile:hover {
    border: 2px solid #f7f7f7;
  }
  .btn-menu {
    font-size: 1rem;
    margin: auto 10px;
    padding: 10px 15px;
  }
  .btn-floating {
    width: 35%;
    right: 2px;
    bottom: 5px;
    -webkit-animation: pulsarmobile;
            animation: pulsarmobile;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  @-webkit-keyframes pulsarmobile {
    0% {
      width: 33%;
    }
    100% {
      width: 37%;
    }
  }
  @keyframes pulsarmobile {
    0% {
      width: 33%;
    }
    100% {
      width: 37%;
    }
  }
}

.icon-social a {
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
  padding: 0px 15px;
}

.icon-social a:hover {
  color: #9b754c;
}
/*# sourceMappingURL=global.css.map */