.coll-5{
    width: 5%;
}
.coll-10{
    width: 10%;
}
.coll-50 {
    width: 50%;
}
.coll-80{
    width: 80%;
}
.coll-95{
    width: 100%;
}
.coll-button{
    height: 20%;
}
.coll-menu {
    width: 90%;
    height: 40%;
}
.coll-30{
    height: 30%;
}
.coll-70{
    height: 70%;
}


@media (max-width: 700px) {
    .coll-50 {
        width: 90%;
    }
}