.container-nav{
    min-height: 60px;
    width: 100%;
    background-color: black;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1030;
}
.container{
    max-width: 1140px;
    min-height: 350px;
    margin: 0px auto;
}
.container-space{
    background-image: url('../imagens/space.png');
    min-height: 30px;
}

.container-footer{
    min-height: 60px;
    background-color: black;
}
.container-menu{
    width: 90%;
    margin: 0px auto;
    padding-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.content{
    position: absolute;
    display: none;
    max-width: 1440px;
    left: 0px;
    right: 0px;
    margin: 20px auto;
}
.rd-tabs:checked ~ .content{
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}