.banner{
    background-image: url('../../imagens/banner-revoada.png');
    min-height: 600px;
}
.banner-menu{
    background-image: url('../../imagens/menu.png');
}

@media(max-width: 700px){
    .banner{
        min-height: 350px;
    }
}