.banner {
  background-image: url("../../imagens/banner-1.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.banner-contato {
  background-image: url("../../imagens/banner-4.png");
  position: relative;
}

@media (max-width: 700px) {
  .banner {
    min-height: 350px;
  }
}
